/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5/12/2016, 12:21:03 PM
    Author     : Usuario
*/

/* GENERALES */
body{
    background: #eee;
}
.btn{
    border-radius: 4px;
}
.btn-default{
    border-color: #e81c4f;
    background-color: #e81c4f;
}
.navbar-form .btn-default{
    background-color: #090909;
    border-color: #040404;
}

/* GENERALES */

/* HEADER */
.navbar-collapse .avatar{
    background: white;
    border-radius: 500px;
    width: 30px;
    height: 30px;
    overflow: hidden;
    float: left;
    margin-right: 12px;
    margin-top: -5px;
}
.navbar-collapse .avatar img{
    height: 100%;
    text-align: center;
}
/* HEADER */

/* REGISTRO */
.box-form,
.box-default{
    background: white;
    border: 1px solid #ccc;
    padding: 20px;
    padding-top: 0;
    margin: 0 auto;
    float: none;
}
.box-form input{
    margin-bottom: 10px;
}
/* REGISTRO */

/* GENTE Y TIMELINE */
.user-link{
    color: black;
    font-weight: bold;
}

.user-item .avatar,
.publication-item .avatar{
    background: #eee;
    border-radius: 550px;
    width: 75px;
    height: 75px;
    overflow: hidden;
    float: left;
}
.user-item .avatar img,
.publication-item .avatar img{
    height: 100%;
    text-align: center;
}

.user-item .user-item-content,
.publication-item .publication-item-content{
    padding: 10px;
    margin-left: 85px;

}
.btn-send-publication{
    margin-top: 2rem;
}
/* GENTE Y TIMELINE */

/* HOME */
#timeline{
    margin-right: 20px; 
    min-height: 750px;
    padding-bottom: 20px;
}
.box-header{
    border-bottom: 1px solid #ccc;
    padding: 10px;
    padding-top: 0;
    font-size: 25px;
}
#user-card{
    padding: 10px;
    margin-bottom: 20px;
}
#user-card .avatar{
    background: #eee;
    border-radius: 500px;
    width: 75px;
    height: 75px;
    overflow: hidden;
    float: left;
}
#user-card .avatar img{
    height: 100%;
    text-align: center;
}
#user-card .avatar img.default{
    opacity: 0.5;
}
#user-card .name-surname{
    float: left;
    font-size: 20px;
    padding: 10px;
}
#user-card .name-surname a{
    color: black;
}
#user-card .nickname {
    opacity: 0.7;
}
#user-card .following-data{
    width: 25%;
    float: left;
    border-top: 1px solid #ccc;
    padding: 5px;
    margin-top: 10px;
    text-align: center;
}
#user-card .following-data a{
    color: #444;
}
#user-card .following-data a:hover{
    color: black;
    text-decoration: none;
}
#user-card .following-data .label-stat{
    display: block;
}
#user-card .following-data .number-stat{
    display: block;
    font-size: 16px;
    font-weight: bold;
}

#new-publication input,
#new-publication textarea{
    margin-bottom: 10px;
}
.pub-name-link{
    color: black;
    font-weight: bold;
}
.pub-date{
    color: grey;
}
.pub-image{
    display: none;
    transition: all 300ms;
}
.pub-image img{
    width: 100%;
    text-align: center;
    display: block;
    margin: 0 auto;
}
.publication-item .glyphicon{
    margin-right: 7px;
    cursor: pointer;
    color: #444 !important;
}
.like{
    font-size: 24px;
    margin-top: -45px;   
}
.like .btn-like:hover{
    color: red !important;
    cursor: pointer;
}
.like .active{
    color: red !important;
}
/* HOME */

/* PERFILES */
.profile-box{
    padding: 20px;
    margin: 0 auto;
    float: none;
}
.profile-box > .avatar{
    background: #eee;
    border-radius: 700px;
    width: 180px;
    height: 180px;
    overflow: hidden;
    margin: 0 auto;
}

.profile-box > .avatar img{
    height: 100%;
    text-align: center;
}

.profile-box .name-surname{
    margin: 0 auto;
    text-align: center;
}
.profile-box .bio{
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}
.profile-box #user-stats{
    margin: 0 auto;
    margin-bottom: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    width: 38%;
    text-align: center;
}
.profile-box #user-stats .following-data{
    float: left;
}
.profile-box #user-stats a{
    color: #444;
}
.profile-box #user-stats .label-stat{
    display: block;
    font-size: 18px;
    margin-right: 20px;
    margin-left: 20px;
    text-align: center;
}
.profile-box #user-stats .label-stat{
    font-weight: bold;
}
.profile-box .buttons-following{
    margin-top: 20px;
}

/* PERFILES */

/* PRIVATE MESSAGES */
.box-private-message input,
.box-private-message select,
.box-private-message textarea{
    margin-bottom: 10px;
}
/* PRIVATE MESSAGES */

/* NOTIFICATIONS */
.label-notifications,
.label-notifications-msg{
    border-radius: 50%;
}
.notification-publication,
.date-notification{
    color: #8899a6;
}
.date-notification{
    font-size: 14px;
}
.notification-item .glyphicon-info-sign{
    margin-right: 5px;
}


/* NOTIFICATIONS */