{% extends "AppBundle:Layouts:layout.html.twig" %}

{% block content %}
    <div class="container">
        <div class="col-lg-12 box-default">
            <h1 class="box-header">
                Mensajeria Privada
            </h1>

            <div class="col-lg-6 box-private-message">
                <h4>Enviar nuevo mensaje privado</h4>
                {{form_start(form,{'action':'', 'method':'POST'})}}
                {{form_end(form)}}
                <br/>
                <a href="{{ path('private_message_sended') }}" class="btn btn-warning">Ver mensajes enviados</a>
            </div>    
            <div class="col-lg-6">
                <h4>Mensajes Recibidos</h4>
                <hr/>

                {% include 'AppBundle:PrivateMessage:messages.html.twig' %}
                
                <div class="clearfix"></div>
            </div>   
            <div class="clearfix"></div>

        </div>
    </div>
{% endblock %}
