{% extends "AppBundle:Layouts:layout.html.twig" %}

{% block content %}
    <div class="container">
        <div class="col-lg-12 box-default">
            <h1 class="box-header">
                Mensajeria Privada
            </h1>

            <div class="col-lg-6">
                <a href="{{ path('private_message_index') }}" class="btn btn-warning">
                    Ver mensajes recibidos
                </a>
            </div>    
            <div class="col-lg-6">
                <h4>Mensajes Enviados</h4>
                <hr/>

                {% include 'AppBundle:PrivateMessage:messages.html.twig' %}

                <div class="clearfix"></div>
            </div>    
            <div class="clearfix"></div>
        </div>
    </div>
{% endblock %}

