{% extends "AppBundle:Layouts:layout.html.twig" %}

{% block content %}
    <div class="container">
        <div class="col-lg-12 box-default box-notifications">
            <h1 class="box-header">Notificaciones</h1>

            <div class="box-content">
                {% for notification in pagination %}
                    <div class='col-lg-12 notification-item'>
                        <div class='alert alert-default'>
                            <span class='glyphicon glyphicon-info-sign pull-left' aria-hidden='true'></span>
                            
                            {% set notif_user = notification.typeId|get_user %}
                            {% set notif_publication = notification.extra|get_publication %}
                            
                            {% if notification.type == 'follow' %}
                                <a style="font-weight: bold;" href='{{ path('user_profile',{'nickname':notif_user.nick}) }}'>{{notif_user.name}} {{notif_user.surname}}</a> te esta siguiendo
                                <span class="pull-right date-notification">{{ notification.createdAt|date('d/m/Y') }}</span>
                            {% endif %}
                            
                            {% if notification.type == 'like' %}
                                 <a style="font-weight: bold;"  href='{{ path('user_profile',{'nickname':notif_user.nick}) }}'>{{notif_user.name}} {{notif_user.surname}}</a> le ha dado me gusta a una de tus publicaciones
                                 <span class="pull-right date-notification">{{ notification.createdAt|date('d/m/Y') }}</span>
                                 <p class="notification-publication">{{notif_publication.createdAt|date('d-F')}}: {{notif_publication.text}}</p>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
                <div class='clearfix'></div>
            </div>
        </div>
    </div>
{% endblock%}
