{% extends "AppBundle:Layouts:layout.html.twig" %}

{% block content %}
    <div class="col-lg-8 box-form">
        <h2>MIS DATOS</h2>
        <hr/>
        
        {{form_start(form,{'enctype':'multipart/data'})}}
        {{form_end(form)}}
    </div>
{% endblock %}
